@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");

:root {
  --color-primary: #5ec576;
  --border-color: rgb(144, 144, 144);
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  color: #444;
  font-weight: 400;
  overflow-x: hidden;
}

#navigation {
  height: 5rem;
}

.nav__items > * {
  font-weight: 300;
  display: inline-block;
  padding-left: 2rem;
  font-size: 1.1rem;
}

.nav__link:link,
.nav__link:visited {
  transition: all 0.3s;
  text-decoration: inherit;
  color: inherit;
}

#nav__bar {
  position: fixed;
  padding: 0rem 3rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;
  width: 100%;
  z-index: 1;
}

#nav__bar.fixedNav {
  background-color: rgba(255, 255, 255, 0.95);
}

.hamburger {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.hamburger__lines,
.hamburger__lines::before,
.hamburger__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.hamburger__lines::before,
.hamburger__lines::after {
  content: "";
  position: absolute;
}

.hamburger__lines::before {
  transform: translateY(-0.5rem);
}

.hamburger__lines::after {
  transform: translateY(0.5rem);
}

.hamburger.open .hamburger__lines {
  transform: translateX(2rem);
  background-color: transparent;
}

.hamburger.open .hamburger__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
}

.hamburger.open .hamburger__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}

#intro {
  margin: 5rem 5rem 5rem 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header__title {
  flex: 1;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.highlight {
  position: relative;
  z-index: -1;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.header__title > h1 {
  font-size: 4.5rem;
  line-height: 1.35;
}

.header__title > h4 {
  font-size: 2rem;
  font-weight: 500;
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 3;
  transform: translateY(-6rem);
  z-index: -1;
}

#downward__arrow {
  font-size: 4rem;
  transition: all 0.5s;
}

#downward__arrow:hover {
  outline: none;
  transform: translateY(15px);
}

#downward__arrow:focus {
  outline: none;
}

.section {
  padding: 3rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ddd;
  transition: all 1s;
}

.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.heading {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.grid__content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;
  margin: 3rem 4rem;
  padding: 2rem;
  place-content: center;
  place-items: center;
}

.grid__image {
  width: 100%;
  transition: all 1s;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.blur__img {
  filter: blur(20px);
}

.grid__image:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

#skills__table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  background-color: inherit;
  padding: 2rem;
  margin: 3rem 4rem;
  border-radius: 1rem;
}

.skill__column {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill__column > * {
  margin: 0.225rem;
}

.skill__column > h4,
h3 {
  font-weight: bold;
}

.skill__column > h4 {
  color: var(--color-primary);
}

#footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #37383d;
  color: white;
}

#footer > h1,
h3 {
  font-weight: 300;
}

#footer > * {
  margin: 0.2rem;
}

.logo {
  width: 5.5rem;
  height: 5.5rem;
}

.icon {
  font-size: 7rem;
  display: block;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 12.5px;
  }

  .nav__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out;
    background-color: #f3f3f3;
  }

  .nav__items.open {
    transform: translateX(0);
  }

  .nav__items li a {
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .grid__content {
    grid-template-columns: auto;
    padding-top: 3rem;
    margin: 0;
  }

  .header__title {
    grid-template-columns: auto;
  }

  .header__img {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
