@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");

:root {
  --color-primary: #5ec576;
  --border-color: rgb(144, 144, 144);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  color: #444;
  font-weight: 400;
}

.section {
  padding: 3rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ddd;
}

.nav-items > * {
  font-weight: 300;
  display: inline-block;
  padding-left: 2rem;
  font-size: large;
}

.nav-link:link,
.nav-link:visited {
  transition: all 0.3s;
  text-decoration: inherit;
  color: inherit;
}

#nav-bar {
  padding: 2rem 5rem 0rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#intro {
  padding: 2rem 5rem 0rem 5rem;
  height: 100vh;
  display: flex;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 3rem 4rem;
  padding: 2rem;
  place-content: center;
  place-items: center;
}

.grid-image {
  width: 100%;
  transition: all 0.5s;
}

.grid-image:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

#footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #37383d;
  color: white;
}

#footer > h1,
h3 {
  font-weight: 300;
}

#footer > * {
  margin: 0.2rem;
}

.logo {
  width: 5.5rem;
  height: 5.5rem;
}

#skills-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  background-color: inherit;
  padding: 2rem;
  margin: 3rem 4rem;
  border-radius: 1rem;
}

.skill-column {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-column > * {
  margin: 0.225rem;
}

.skill-column > h4,
h3 {
  font-weight: bold;
}

.skill-column > h4 {
  color: var(--color-primary);
}

.icon {
  font-size: 7rem;
  display: block;
}

#downward-arrow {
  font-size: 4rem;
  transition: all 0.5s;
}

#downward-arrow:hover {
  outline: none;
  transform: translateY(15px);
}

#downward-arrow:focus {
  outline: none;
}
